In [13]:
import baostock as bs
import pandas as pd
import os
from pathlib import Path

OUTPUT = './'


def mkdir(directory):
    if not os.path.exists(directory):
        os.makedirs(directory)


class Downloader(object):
    def __init__(self,
                 output_dir,year,quarter):
        self._bs = bs
        bs.login()
        date = '2021-04-12'
        # self.date_end = datetime.datetime.now().strftime("%Y-%m-%d")
        self.output_dir = output_dir
        self.date=date
        

    def exit(self):
        bs.logout()

    def get_codes_by_date(self, date):
        date = '2021-04-12'
        stock_rs = bs.query_all_stock(date)
        stock_df = stock_rs.get_data()
        stock_df = stock_df[stock_df.code>='sh.600000']
        stock_df = stock_df[stock_df.code<='sz.399000']
        stock_df = stock_df.reset_index()
        stock_df = stock_df[4028:]
        print(stock_df)
        return stock_df


    def run(self):
        stock_df = self.get_codes_by_date(self.date)
        for index, row in stock_df.iterrows():
            print(f'processing {row["code"]}')
            df_code = bs.query_growth_data(row["code"], year=1990, quarter=1).get_data()
            df_code.to_csv(f'{self.output_dir}/{row["code"]}.csv', index=False)
        self.exit()
    
    def updater(self,year,quarter):
        stock_df = self.get_codes_by_date(self.date)
        for index,row in stock_df.iterrows():
            for i in year:
                for n in quarter:
                    dstdir = f'{self.output_dir}/{row["code"]}.csv'
                    if not Path(dstdir).exists():
                        df_code = bs.query_growth_data(row["code"], year=i, quarter=n).get_data()
                        if len(df_code)==0:
                            continue
                        else:
                            df_code.to_csv(f'{self.output_dir}/{row["code"]}.csv', index=False)
                        continue
                    base_code = pd.read_csv(dstdir)
                    update_code = bs.query_growth_data(row["code"], year=i,quarter=n).get_data()
                    df_code = pd.concat([base_code,update_code],axis=0,ignore_index = True)
                    df_code.to_csv(dstdir, index=False)
        self.exit()
        
if __name__ == '__main__':
    year = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
    quarter = [1,2,3,4]
    down = Downloader('./', year = year,quarter=quarter)
    down.updater(year=year,quarter=quarter)

login success!
      index       code tradeStatus code_name
4028   4248  sz.300725           1      药石科技
4029   4249  sz.300726           1      宏达电子
4030   4250  sz.300727           1      润禾材料
4031   4251  sz.300729           1      乐歌股份
4032   4252  sz.300730           1      科创信息
...     ...        ...         ...       ...
4247   4467  sz.300965           1      恒宇信通
4248   4468  sz.300966           1      共同药业
4249   4469  sz.300969           1      恒帅股份
4250   4470  sz.300970           1      华绿生物
4251   4471  sz.300999           1       金龙鱼

[224 rows x 4 columns]
logout failed!

In [6]:
import baostock as bs
bs.login()
rs_growth = bs.query_growth_data(code="sz.000001", year=2007, quarter=2).get_data()
rs_growth

login success!

,code,pubDate,statDate,YOYEquity,YOYAsset,YOYNI,YOYEPSBasic,YOYPNI
0,sz.000001,2007-08-16,2007-06-30,0.376685,0.293349,1.170455,1.160000,1.170455

In [12]:
import baostock as bs
bs.login()
b = down.get_codes_by_date('2021-04-12')
b[b.code == 'sz.300724']

login success!
      index       code tradeStatus code_name
3970   4190  sz.300665           1      飞鹿股份
3971   4191  sz.300666           1      江丰电子
3972   4192  sz.300667           1      必创科技
3973   4193  sz.300668           1      杰恩设计
3974   4194  sz.300669           1      沪宁股份
...     ...        ...         ...       ...
4247   4467  sz.300965           1      恒宇信通
4248   4468  sz.300966           1      共同药业
4249   4469  sz.300969           1      恒帅股份
4250   4470  sz.300970           1      华绿生物
4251   4471  sz.300999           1       金龙鱼

[282 rows x 4 columns]

      index       code tradeStatus code_name
4027   4247  sz.300724           1      捷佳伟创